In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import log_loss
from sklearn.model_selection import train_test_split
import time

In [2]:
!dir

 Volume in drive C is OS
 Volume Serial Number is C4A6-B045

 Directory of C:\Users\Admin\Desktop\Projects\machine_hack\Machine Learning with a Heart

29-May-19  09:19 AM    <DIR>          .
29-May-19  09:19 AM    <DIR>          ..
29-May-19  08:58 AM    <DIR>          .ipynb_checkpoints
29-May-19  09:19 AM            35,008 Machine Learning with a Heart V1.ipynb
29-May-19  08:39 AM             1,023 submission_format.csv
29-May-19  08:39 AM             4,864 test_values.csv
29-May-19  08:39 AM             1,653 train_labels.csv
29-May-19  08:39 AM             9,591 train_values.csv
               5 File(s)         52,139 bytes
               3 Dir(s)   6,530,686,976 bytes free

In [3]:
train_values = pd.read_csv("train_values.csv")

In [4]:
train_labels = pd.read_csv("train_labels.csv")

In [5]:
test_values = pd.read_csv("test_values.csv")

In [6]:
train_values.head()

,patient_id,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina
0,0z64un,1,normal,128,2,0,0,2,308,0.0,1,45,170,0
1,ryoo3j,2,normal,110,3,0,0,0,214,1.6,0,54,158,0
2,yt1s1x,1,normal,125,4,3,0,2,304,0.0,1,77,162,1
3,l2xjde,1,reversible_defect,152,4,0,0,0,223,0.0,1,40,181,0
4,oyt4ek,3,reversible_defect,178,1,0,0,2,270,4.2,1,59,145,0

In [7]:
train_labels.head()

  patient_id  heart_disease_present
0     0z64un                      0
1     ryoo3j                      0
2     yt1s1x                      1
3     l2xjde                      1
4     oyt4ek                      0

In [8]:
y = train_labels.drop(columns="patient_id")

In [9]:
y.head()

   heart_disease_present
0                      0
1                      0
2                      1
3                      1
4                      0

In [10]:
x = train_values.drop(columns="patient_id")

In [11]:
x.head()

,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina
0,1,normal,128,2,0,0,2,308,0.0,1,45,170,0
1,2,normal,110,3,0,0,0,214,1.6,0,54,158,0
2,1,normal,125,4,3,0,2,304,0.0,1,77,162,1
3,1,reversible_defect,152,4,0,0,0,223,0.0,1,40,181,0
4,3,reversible_defect,178,1,0,0,2,270,4.2,1,59,145,0

In [12]:
train_values.shape

(180, 14)

In [13]:
x.shape

(180, 13)

In [14]:
x['thal']=x['thal'].map({'normal':1,'reversible_defect':2, 'fixed_defect':3 })

In [15]:
x.head()

,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina
0,1,1,128,2,0,0,2,308,0.0,1,45,170,0
1,2,1,110,3,0,0,0,214,1.6,0,54,158,0
2,1,1,125,4,3,0,2,304,0.0,1,77,162,1
3,1,2,152,4,0,0,0,223,0.0,1,40,181,0
4,3,2,178,1,0,0,2,270,4.2,1,59,145,0

In [18]:
x = np.asarray(x)
y = np.asarray(y)

In [19]:
xtrain, xtest, ytrain, ytest= train_test_split(x, y, test_size=0.2, random_state=4)

In [22]:
parameter=[{'max_features':[2,3,4],
            'min_samples_leaf':[1,2]}]

RF= RandomForestClassifier(n_jobs=-1,n_estimators=200, random_state=1024,oob_score=False)

grid=GridSearchCV(RF, parameter, cv=10)

grid.fit(xtrain, ytrain.ravel())

print("Best score of Ridge: ",grid.best_score_ )

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

Best score of Ridge:  0.8541666666666666

In [23]:
grid.best_estimator_

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=3, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=2, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=-1,
            oob_score=False, random_state=1024, verbose=0,
            warm_start=False)

In [24]:
test = test_values

In [25]:
id_index = test["patient_id"]
test['thal']=test['thal'].map({'normal':1,'reversible_defect':2, 'fixed_defect':3 })
test.drop(['patient_id'], axis=1, inplace=True)
X=np.asarray(test)

In [26]:
predictions= grid.predict_proba(X)
pred= predictions[:,1]

In [28]:
submission= pd.DataFrame({'patient_id':id_index, 'heart_disease_present':pred})
submission.to_csv("submission.csv", index=False)

### The above submission gave Score: 0.37678 and Rank: 388/2164

In [29]:
train_values.head()

,patient_id,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina
0,0z64un,1,normal,128,2,0,0,2,308,0.0,1,45,170,0
1,ryoo3j,2,normal,110,3,0,0,0,214,1.6,0,54,158,0
2,yt1s1x,1,normal,125,4,3,0,2,304,0.0,1,77,162,1
3,l2xjde,1,reversible_defect,152,4,0,0,0,223,0.0,1,40,181,0
4,oyt4ek,3,reversible_defect,178,1,0,0,2,270,4.2,1,59,145,0

In [30]:
train_labels.head()

  patient_id  heart_disease_present
0     0z64un                      0
1     ryoo3j                      0
2     yt1s1x                      1
3     l2xjde                      1
4     oyt4ek                      0

In [31]:
y2 = train_labels.drop(columns="patient_id")

In [32]:
y2.head()

   heart_disease_present
0                      0
1                      0
2                      1
3                      1
4                      0

In [33]:
x2 = train_values.drop(columns="patient_id")

In [11]:
x.head()

,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina
0,1,normal,128,2,0,0,2,308,0.0,1,45,170,0
1,2,normal,110,3,0,0,0,214,1.6,0,54,158,0
2,1,normal,125,4,3,0,2,304,0.0,1,77,162,1
3,1,reversible_defect,152,4,0,0,0,223,0.0,1,40,181,0
4,3,reversible_defect,178,1,0,0,2,270,4.2,1,59,145,0

In [34]:
train_values.shape

(180, 14)

In [35]:
x2.shape

(180, 13)

In [36]:
x2['thal']=x2['thal'].map({'normal':1,'reversible_defect':2, 'fixed_defect':3 })

In [37]:
x2.head()

,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina
0,1,1,128,2,0,0,2,308,0.0,1,45,170,0
1,2,1,110,3,0,0,0,214,1.6,0,54,158,0
2,1,1,125,4,3,0,2,304,0.0,1,77,162,1
3,1,2,152,4,0,0,0,223,0.0,1,40,181,0
4,3,2,178,1,0,0,2,270,4.2,1,59,145,0

In [38]:
from sklearn.preprocessing import Imputer

In [39]:
my_imputer = Imputer()
train_X = my_imputer.fit_transform(x2)

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [40]:
import xgboost

In [41]:
best_xgb_model = xgboost.XGBRegressor(colsample_bytree=0.4,
                 gamma=0,                 
                 learning_rate=0.07,
                 max_depth=3,
                 min_child_weight=1.5,
                 n_estimators=10000,                                                                    
                 reg_alpha=0.75,
                 reg_lambda=0.45,
                 subsample=0.6,
                 seed=42)
best_xgb_model.fit(x2,y2)

[09:38:09] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=0.4, gamma=0,
       importance_type='gain', learning_rate=0.07, max_delta_step=0,
       max_depth=3, min_child_weight=1.5, missing=None, n_estimators=10000,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0.75, reg_lambda=0.45, scale_pos_weight=1, seed=42,
       silent=None, subsample=0.6, verbosity=1)

In [42]:
test.head()

,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina
0,2,2,170,1,0,0,2,288,0.2,1,59,159,0
1,1,1,138,4,0,0,0,183,1.4,0,35,182,0
2,2,2,120,4,0,0,2,177,2.5,1,43,120,1
3,1,1,102,3,1,0,0,318,0.0,0,60,160,0
4,2,1,138,4,1,0,2,166,3.6,1,61,125,1

In [44]:
pred2 = best_xgb_model.predict(test)

In [45]:
submission2= pd.DataFrame({'patient_id':id_index, 'heart_disease_present':pred2})
submission2.to_csv("submission2.csv", index=False)

In [48]:
x3 = np.asarray(x2)
y3 = np.asarray(y2)

In [49]:
grid.fit(x3, y3.ravel())

print("Best score of Ridge2: ",grid.best_score_ )

Best score of Ridge2:  0.85

#### The above submission gave Score: 0.9148